body{                                           /* Classe css per la colorazione della pagina. */     
    background-color: black;
}
* {                                             /* Classe css per l'adattamento della pagina. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.classCont{                                     /* Classe css per il container del layout. */
    background-color: rgb(57, 57, 57);
    border: 3px solid rgb(19, 66, 8);
    border-radius: 10px;
}
#num1{                                          /* Classe css per l'input 1. */
    height:35px;
    width:126px;
    border-radius: 10px;
    background-color: rgb(117, 117, 117);
    font-size: 1.4rem;
    color:white;
}
#num2{                                          /* Classe css per l'input 2. */
    height: 35px;
    width:126px;
    border-radius: 10px;
    background-color: rgb(117, 117, 117);
    font-size: 1.4rem;
    color:white;
}
.btnRsl{                                        /* Classe css per il tasto "=". */
    background-color: rgb(117, 117, 117);
    border-radius: 10px;  
    font-size: 2.5rem;
    color:white;
}
.btnOp{                                         /* Classe css per i 4 tasti operazionali. */
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
    font-size: 2.5rem;
    color:white;
}
h5{                                             /* Classe css per testo del risultato. */
    font-size: 1.4rem;
    color:white;
}
                                                /* Media query per responsività */
@media  screen and (min-width:280px){
    .classCont{
        width:280px;
        height:295px;
    }
    .btnRsl{                                        /* Classe css per il tasto "=". */
        height:70px;
        width: 320px;    
    }
    .btnOp{                                         /* Classe css per i 4 tasti operazionali. */
        height:70px;
        width:70px;    
    }
}
@media  screen and (min-width:360px){
    .classCont{
        width:360px;
        height:295px;
    }
    .btnRsl{                                        /* Classe css per il tasto "=". */
        height:70px;
        width: 320px;    
    }
    .btnOp{                                         /* Classe css per i 4 tasti operazionali. */
        height:70px;
        width:79px;    
    }
}
@media  screen and (min-width:375px){
    .classCont{
        width:375px;
    }
    .btnRsl{                                        /* Classe css per il tasto "=". */
        height:70px;
        width: 321px;    
    }
    .btnOp{                                         /* Classe css per i 4 tasti operazionali. */
        height:75px;
        width:80px;  
    }
}
@media  screen and (min-width:412px){
    .classCont{
        width:412px;
    }
    .btnRsl{                                        /* Classe css per il tasto "=". */
        height:70px;
        width: 345px;    
    }
    .btnOp{                                         /* Classe css per i 4 tasti operazionali. */
        height:77px;
        width:86px;  
    }
}
@media  screen and (min-width:540px){
    .classCont{
        width:510px;
        height:315px;
    }
    .btnRsl{                                        /* Classe css per il tasto "=". */
        height:70px;
        width:540px;    
    }
    .btnOp{                                         /* Classe css per i 4 tasti operazionali. */
        height:90px;
        width:128px;    
    }
}